.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color:white;
    
}
ul{
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#menu{
    flex-basis: 15%;
    background-color: white;
    
}

li{
    list-style-type: none;
}
#welcome{
    position: relative;
    width: 58vw;
    right: 15px;
    height: 15vh;
    margin:50px 20px 10px 10px;
    border-radius: 20px;
    background-color: #ffe6e6;

}
#box1{
   background-color: white;
   width: 24vw;
   height: 50vh;
   margin:20px 20px 10px 10px;
   border-radius: 20px;
   bottom: 0px; 
}
#box2{
    background-color: white;
    width: 31vw;
    border-radius: 20px;
    height: 50vh;
    margin:20px 20px 10px 10px;
    bottom: 0px; 

}
    
#middle{
margin: 0px;
flex-basis: 65%;
background-color: #f7faf7;
}
#c1,#c2,#c3{
    background-color:  #5656b1;
    width: 245px;
    height: 60px;
    margin:30px 20px 0px 10px;
    bottom: 0px;
    border-radius: 10px;
}
#courses{
    display: flex;
    flex-direction: row;

}
#c1{
background-color:  #5656b1;
}
#c2{
    background-color: #aeaeea;
}
#c3{
    background-color: #ff8080;
}